html,
body {
	height: 100%;
	width: 100%;
	cursor: none;
}
#home {
	/* background: url(background.jpg) no-repeat center center fixed; */
	background-color: black;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	color: black;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

footer {
	width: 100%;
	background-color: black;
	padding: 5% 5% 10% 5%;
	color: white;
}

.cursor {
	position: absolute;
	top: 300px;
	left: 320px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	margin-top: -6px;
	margin-left: -5px;
	filter: blur(15px);

	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 30px;
		height: 30px;
		background: #fff;
		border-radius: 50%;
		transform-origin: 50px 50px;
		transform: rotate(50px);
		animation: rotate 3.5s ease-in-out infinite;
		filter: blur(3px);
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 40px;
		height: 40px;
		background: #fff;
		border-radius: 50%;
		transform-origin: 30px 30px;
		transform: rotate(300px);
		animation: rotate 3.5s ease-in-out 2s infinite;
		filter: blur(3px);
	}
}

.frame {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	filter: contrast(30);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
	position: relative;
	background: white;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	filter: blur(15px);
}

@for $i from 1 through 8 {
	.blob-#{$i} {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		transform: rotate((random(300)) + deg);

		&:after {
			position: absolute;
			display: block;
			content: "";
			width: 70px;
			height: 70px;
			background: white;
			border-radius: 50%;
			transform-origin: (80 - $i * 3) + px (80 - $i * 3) + px;
			animation: rotate (3 + $i / 2) + s ease-in-out ($i/5) + s infinite;
			filter: blur(7px);
		}
	}
}

@for $i from 1 through 6 {
	.drop-#{$i} {
		position: absolute;
		top: 38px;
		left: 38px;
		width: (10 + $i) + px;
		height: (10 + $i) + px;
		transform: rotate((random(300)) + deg);

		&:after {
			position: absolute;
			display: block;
			content: "";
			width: (10 + $i) + px;
			height: (10 + $i) + px;
			background: #fff;
			border-radius: 50%;
			transform-origin: (80 - $i * 2) + px (80 - $i * 2) + px;
			animation: rotate (3.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
			filter: blur(5px);
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
