html {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* #home {
	background: url(background.jpg) no-repeat center center fixed; 
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	color: white;
} */

#reset {
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -400px;
	background: #444;
	border: 1px solid #555;
	color: #888;
	padding: 6px 10px;
	cursor: pointer;
	opacity: 0.8;
}

#c {
	width: 800px;
	height: 376px;
	margin: 0 auto;
	display: block;
}

#info {
	position: absolute;
	left: -1px;
	top: -1px;
	width: auto;
	max-width: 380px;
	height: auto;
	background: #f2f2f2;
	border-bottom-right-radius: 10px;
}

#top {
	background: #fff;
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: 1px solid #eee;
}

p {
	font-family: Arial, sans-serif;
	color: #666;
	text-align: justify;
	font-size: 16px;
	margin: 10px;
}

a {
	font-family: sans-serif;
	color: #444;
	text-decoration: none;
	font-size: 20px;
}

#site {
	float: left;
	margin: 10px;
	color: #38a;
}

#close {
	float: right;
	margin: 10px;
}

#projects {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	color: white;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: black;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

footer {
	width: 100%;
	background-color: black;
	padding: 5% 5% 10% 5%;
	color: white;
}
